fastapi==0.115.6
uvicorn[standard]==0.34.0
python-dotenv==1.0.1
pydantic-settings==2.7.1
openai==1.59.3
faiss-cpu==1.10.0
sentence-transformers==3.4.1
pypdf2==3.0.1
langchain-text-splitters==0.3.5
python-multipart==0.0.20
